// Colors
$core-color: #C95F5F
$blend-color: #c97a5f
$attention-color: #c95f94
$black: #232323
$white: #ffffff

// Fonts
$font-stack-title: 'Englebert', sans-serif
$font-stack-category: 'Montserrat', sans-serif
$font-stack-regular: sans-serif

//Sizes
$header-height: 100px
$header-line-width: 2px
$nav-width: 125px
$content-padding: 20px
$padding-side-bar: 5px

//Other
$header-opacity: 0.95

// MIXINS
@mixin abs-ctr()
    position: absolute
    top: 50%
    left: 50%

@mixin padding-y($value)
    padding-top: $value
    padding-bottom: $value