/* LAYOUT */
html, body
    height: 100%
    width: 100%
    overflow: hidden

header, footer, main
    width: 100%

header, footer, .logo, .menu
    height: $header-height

header
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: $header-line-width solid $core-color
    opacity: $header-opacity
    z-index: 2

    .logo, .menu
        width: $nav-width

    .menu
        text-align: center
        line-height: $header-height

        nav
            width: 100%
            height: 0
            background-color: $core-color
            overflow: hidden

        .visible
            height: calc(100vh - (2 * 100px))
            border-left: $header-line-width solid $black
            border-bottom: $header-line-width solid $black

            ul
                height: 100%
                overflow: hidden
                display: flex
                flex-direction: column
                justify-content: center

                li
                    position: relative
                    height: 21%
                    line-height: 6

                      a:hover
                          color: $black

main
    height: calc(100% - (2 * 100px)) // Couldn't use '$header-height' sass varialbe, don't know why
    z-index: 0

    aside, .wrapper
        float: left

    aside
        width: $nav-width
        height: 100%

        .current-section
            +abs-ctr()
            +padding-y($padding-side-bar)
            transform: translate(-50%, 0%)
            background-color: $white

    .left:before
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        content: ''
        height: 60%
        width: 1px
        background-color: $core-color

    .wrapper 
        position: relative
        width: calc(100% - calc(2 * 125px))
        height: 100%
        display: flex
        flex-direction: column
        justify-content: flex-end  
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10)
        margin: 0 auto

        .bg-img
            position: absolute
            height: 100%
            width: 100%
            z-index: 0

        .heading
            z-index: 1
            margin-left: $content-padding
            margin-bottom: $content-padding

        h1
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-44vw, -50%)
            line-height: 1.15
            text-shadow: 1px 3px 2px rgba(0,0,0,0.15)
            //transform: translateX(-86px)

        h2
            width: 37%
            line-height: 1.5

        .about
            margin-left: ($header-line-width + $content-padding) * 2
            width: 6rem
            z-index: 1

            a
                width: 100%

footer
    z-index: 1
    bottom: 0

    span
        height: 25px
        line-height: $header-height + 2px
        right: $nav-width
        position: absolute

@media screen and (max-width: 511px)
    header, footer
        position: absolute

    main
        height: 100%

        aside
            position: absolute

        .left
            display: none

        .right
            bottom: 0
            right: 0

        .wrapper
            width: 100%

            .heading
                margin-bottom: $content-padding * 1.75

            h1
                left: 0
                transform: translateY(40%)

            h2
                width: 67%

    footer
        height: $header-height * 0.81
        overflow: visible

        span
            position: absolute
            bottom: 0
            right: 0
            margin: $content-padding
            line-height: 25px

@media screen and (max-width: 411px)
    main
        .wrapper

            .heading
                margin-bottom: $content-padding * 1.25
            h1
                transform: translateY(0)
