/* FONTS */
:root
    font-family: $font-stack-regular
    color: $white


// Global
.primary-text
    font-family: $font-stack-category
    text-transform: uppercase
    font-weight: 900


// Header   
.menu
    color: $black
    font-size: 1.15rem

    nav
        .nav-items
            color: $white
            font-size: 0.9rem


// Main
.wrapper
    h1
        font-size: 4.15rem
        color: $core-color
    
    h2
        font-size: 0.95rem
        font-family: $font-stack-category
        font-weight: 400

    .about
        font-size: 0.8rem

// Footer
footer
    text-align: right

    span
        color: $core-color
        font-family: $font-stack-category
        font-size: 0.65rem

// Other
aside
    color: $black
    font-size: .6rem
    text-orientation: mixed
    writing-mode: vertical-lr
    transform: rotate(180deg)

@media screen and (max-width: 511px)
    :root
        font-size: 16px

    footer
        span
            font-size: 0.75rem

@media screen and (max-width: 411px)
    :root
        font-size: 14px

    .wrapper
        h1
            font-size: 3.75rem