/* ELEMENTS */

// Header
header 
    background-color: $white

    .logo
        background-image: url('imgs/racks-capital.png')
        background-size: contain
        background-position: center
        background-repeat: no-repeat

// Main
.wrapper

    .bg-img
        background-image: url('imgs/mimi-thian-737030-unsplash.jpg')
        background-size: cover
        background-position: center
        filter: grayscale(75%) saturate(0.25) brightness(115%)
        -webkit-filter: grayscale(75%) saturate(0.25) brightness(115%)

    .about:before
        position: absolute
        content: ''
        left: $content-padding
        border: $header-line-width solid $core-color
        transform: translateY(-20%)
        width: 0
        height: 1.4rem
        z-index: 0

    .about:hover:before
        width: 120px

    .about
        a
            position: relative



// Footer