/* ANIMATIONS */
    
// Menu
#nav
    transition: all 275ms cubic-bezier(.54,.01,.37,1.1)

.nav-items
    transition: all 175ms ease-in-out

.about:before
    transition: all 100ms cubic-bezier(.54,.01,.28,1.15)