/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* LAYOUT */
html, body {
  height: 100%;
  width: 100%;
}

header, footer, main {
  width: 100%;
}

header, footer, .logo, .menu {
  height: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #C95F5F;
  opacity: 0.95;
  z-index: 2;
}
header .logo, header .menu {
  width: 125px;
}
header .menu {
  text-align: center;
  line-height: 100px;
  z-index: 3;
}
header .menu nav {
  width: 100%;
  height: 0;
  background-color: #C95F5F;
  overflow: hidden;
}
header .menu .visible {
  height: calc(100vh - (2 * 100px));
  border-left: 2px solid #232323;
  border-bottom: 2px solid #232323;
}
header .menu .visible ul {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .menu .visible ul li {
  position: relative;
  height: 21%;
  line-height: 6;
}
header .menu .visible ul li a:hover {
  color: #232323;
}

main {
  --random-height: 100px;
  height: calc(600px - var(--random-height) * 2);
  z-index: 0;
}
main aside, main .wrapper {
  float: left;
}
main aside {
  width: 125px;
  height: 100%;
}
main aside .current-section {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  transform: translate(-50%, 0%);
  background-color: #ffffff;
}
main .left:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 60%;
  width: 1px;
  background-color: #C95F5F;
}
main .wrapper {
  position: relative;
  width: calc(100% - calc(2 * 125px));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
main .wrapper .bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
main .wrapper .heading {
  z-index: 1;
  margin-left: 20px;
  margin-bottom: 20px;
}
main .wrapper h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-44vw, -50%);
  line-height: 1.15;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
}
main .wrapper h2 {
  width: 37%;
  line-height: 1.5;
}
main .wrapper .about {
  margin-left: 44px;
  width: 6rem;
  z-index: 1;
}
main .wrapper .about a {
  width: 100%;
}

footer {
  z-index: 1;
  bottom: 0;
}
footer span {
  height: 25px;
  line-height: 102px;
  right: 125px;
  position: absolute;
}

@media screen and (max-width: 511px) {
  header, footer {
    position: absolute;
  }

  main {
    height: 100%;
  }
  main aside {
    position: absolute;
  }
  main .left {
    display: none;
  }
  main .right {
    bottom: 0;
    right: 0;
  }
  main .wrapper {
    width: 100%;
  }
  main .wrapper .heading {
    margin-bottom: 35px;
  }
  main .wrapper h1 {
    left: 0;
    transform: translateY(40%);
  }
  main .wrapper h2 {
    width: 67%;
  }

  footer {
    height: 81px;
    overflow: visible;
  }
  footer span {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 411px) {
  main .wrapper .heading {
    margin-bottom: 25px;
  }
  main .wrapper h1 {
    transform: translateY(0);
  }
}
/* FONTS */
:root {
  font-family: sans-serif;
  color: #ffffff;
}

.primary-text {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

.menu {
  color: #232323;
  font-size: 1.15rem;
}
.menu nav .nav-items {
  color: #ffffff;
  font-size: 0.9rem;
}

.wrapper h1 {
  font-size: 4.15rem;
  color: #C95F5F;
}
.wrapper h2 {
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.wrapper .about {
  font-size: 0.8rem;
}

footer {
  text-align: right;
}
footer span {
  color: #C95F5F;
  font-family: "Montserrat", sans-serif;
  font-size: 0.65rem;
}

aside {
  color: #232323;
  font-size: 0.6rem;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

@media screen and (max-width: 511px) {
  :root {
    font-size: 16px;
  }

  footer span {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 411px) {
  :root {
    font-size: 14px;
  }

  .wrapper h1 {
    font-size: 3.75rem;
  }
}
/* ELEMENTS */
header {
  background-color: #ffffff;
}
header .logo {
  background-image: url("imgs/racks-capital.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper .bg-img {
  background-image: url("imgs/mimi-thian-737030-unsplash.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(75%) saturate(0.25) brightness(115%);
  -webkit-filter: grayscale(75%) saturate(0.25) brightness(115%);
}
.wrapper .about:before {
  position: absolute;
  content: "";
  left: 20px;
  border: 2px solid #C95F5F;
  transform: translateY(-20%);
  width: 0;
  height: 1.4rem;
  z-index: 0;
}
.wrapper .about:hover:before {
  width: 120px;
}
.wrapper .about a {
  position: relative;
}

/* ANIMATIONS */
#nav {
  transition: all 275ms cubic-bezier(0.54, 0.01, 0.37, 1.1);
}

.nav-items {
  transition: all 175ms ease-in-out;
}

.about:before {
  transition: all 100ms cubic-bezier(0.54, 0.01, 0.28, 1.15);
}

/*# sourceMappingURL=main.css.map */
