/*** CONTENT PAGE ***/
header
    position: fixed
    top: 0

.grid
    margin-top: $header-height
    display: flex
    flex-wrap: wrap

    .partner
        background-color: $core-color

    .sr-associate
        background-color: $attention-color

    .associate
        background-color: $blend-color

    .grid-item
        width: 25%
        height: 21rem
        border: 1px solid $core-color
        position: relative
        display: flex
        flex-direction: column

        h3, p
            padding-right: $content-padding

    .description
        justify-content: center
        padding-left: $content-padding

    .picture
        justify-content: flex-end

        .text
            z-index: 1
            height: fit-content
            display: flex
            flex-direction: column
            justify-content: center
            opacity: 0.95

        .text:hover
            height: 60%
        

        h3, h4, p
            padding-left: $content-padding    
            padding-right: $content-padding      
            padding-bottom: $content-padding / 2

        h3
            height: 2rem
            line-height: 2.75rem

        h4
            height: 1rem
            line-height: 1rem

        span
            visibility: hidden
            padding-left: $content-padding

        .show-contact
            visibility: visible


        .bg-item
            height: 100%
            width: 100%
            z-index: 0
            position: absolute

        .bg-img
            background-size: cover
            background-position: center
            filter: grayscale(75%) saturate(0.25) brightness(115%)
            -webkit-filter: grayscale(75%) saturate(0.25) brightness(115%)


@media screen and (max-width: 811px)
    .grid
        .grid-item
            width: calc(100% / 3)

@media screen and (max-width: 511px)
    .grid
        .grid-item
            width: 50%

    footer
        position: relative

@media screen and (max-width: 411px)
    .grid
        .grid-item
            height: 17rem