.grid

        .description
            h3
                font-family: $font-stack-category
                font-size: 1.5rem
                padding-right: $content-padding
                text-transform: uppercase

        h3, h4, p
            color: $white
        
        h3
            font-family: $font-stack-title
            font-size: 1.5rem

        h4
            font-size: 0.75rem
            text-transform: uppercase

        p, span
            font-family: $font-stack-category

        span
            display: inline-block
            height: fit-content
            font-size: 0.9rem
            word-wrap: break-word
            position: absolute
            bottom: $content-padding