/* ELEMENTS */
.grid

    .grid-item

        .bg-img
            filter: grayscale(75%) saturate(0.25) brightness(115%)
            -webkit-filter: grayscale(75%) saturate(0.25) brightness(115%)

        .bg-item2
            background-image: url('imgs/team/amy-hirschi-1416713-unsplash.jpg')
            background-position: top

        .bg-item3
            background-image: url('imgs/team/beautiful-brunette-cute-774909.jpg')

        .bg-item4
            background-image: url('imgs/team/adult-businessman-contemporary-937481.jpg')

        .bg-item5
            background-image: url('imgs/team/adult-curly-hair-digital-nomad-1181742.jpg')

        .bg-item6
            background-image: url('imgs/team/adult-beautiful-brunette-1181686.jpg')

        .bg-item7
            background-color: $attention-color

        .bg-item8
            background-image: url('imgs/team/adult-corporate-employee-1181695.jpg')
            background-position: top

        .bg-item9
            background-image: url('imgs/team/ali-morshedlou-566510-unsplash.jpg')
            background-position-y: 25% 

        .bg-item10
            background-color: $blend-color

        .bg-item11
            background-image: url('imgs/team/adult-blur-businessman-936043.jpg')
            background-position: top

        .bg-item12
            background-image: url('imgs/team/adult-beautiful-close-up-38554.jpg')
            background-position: top