/* CONTACT */ 
header
    position: fixed

.contact-grid
    height: 100%
    display: grid
    grid-template-rows: repeat(5, 1fr)
    grid-template-columns: repeat(5, 1fr)

    .header
        grid-area: 1 / 1 / 4 / 4
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-44vw, -75%)
        line-height: 1.15
        text-shadow: 1px 2px 2px rgba(0,0,0,0.15)

    span
        display: flex
        flex-direction: column
        align-items: center

    .note, .social-media
        z-index: 1

    .contact-grid-bg
        grid-area: 1 / 1 / -1 / -1
        z-index: 0
        transform: translateY(-2.5%)

    .note
        grid-area: 4 / 1 / 6 / 3
        margin-top: $content-padding
        margin-left: $content-padding * 2
        margin-right: $content-padding
        padding-right: $content-padding

    .social-media
        grid-area: 4 / 4 / 6 / 6
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-left: $content-padding

        .social-item
            margin-top: $content-padding

            i, span
                display: inline-block

            i
                transform: translateY(-25%)

            span
                margin-left: $content-padding / 2
                transform: translateY(-0.78rem)

footer
    display: none

@media screen and (max-width: 511px)
    .contact-grid
        grid-template-rows: repeat(5, 1fr)
        grid-template-columns: 1fr
        position: relative
        align-items: center

        .contact-grid-bg
            height: 100%

        .header
            grid-area: 2 / 1 / 4 / -1
            position: static
            transform: translate(0, 0)
            padding-left: $content-padding

        .note
            grid-area: 4 / 1 / 5 / -1
            margin-left: $content-padding

        .social-media
            grid-area: 5 / 1 / -1 / -1
