:root
    color: $black

.contact-grid
    .header
        font-size: 3.5rem
        color: $core-color
        text-transform: none

    .note, .social-media
        font-family: $font-stack-category
        font-size: 0.95rem

    .social-media
        .social-item
            i
                font-size: 2rem
                color: $attention-color

            i:hover
                color: $core-color

@media screen and (max-width: 511px)
    :root
        font-size: 15px

    .contact-grid
        .header
            font-size: 4rem

        .note
            transform: translateY(2rem)

        