/* CONTACT ELEMENTS */ 
.contact-grid-bg
    grid-area: 1 / 1 / -1 / -1
    background-image: url('imgs/background-black-blank-733857.jpg')
    filter: grayscale(75%) saturate(0.25) brightness(115%)
    -webkit-filter: grayscale(75%) saturate(0.25) brightness(115%)
    background-size: cover
    background-position: center